# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and Push Docker Image
  jobs:  
  - job: Build
    displayName: Build and Push Docker Image
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'AzureCRConnection'
        repository: 'RedingtonCalculator'
        command: 'buildAndPush'
        Dockerfile: '$(Build.Repository.LocalPath)/RedingtonCalculator.Web/Dockerfile'
        buildContext: '$(Build.Repository.LocalPath)'
        tags: |
          $(tag)
    - task: TerraformTaskV1@0
      inputs:
        provider: 'azurerm'
        command: 'init'
        commandOptions: '-false'
        backendServiceArm: 'AzureRMConnection'
        backendAzureRmResourceGroupName: 'TerraformStore'
        backendAzureRmStorageAccountName: 'redingtonterraformsa'
        backendAzureRmContainerName: 'terraformstate'

- stage: Provision
  displayName: 'Terraforming to Azure'
  dependsOn: Build
  jobs:
  - job: Provision
    displayName: 'Create App Service'
    pool:
      vmImage: 'ubuntu-latest'
    variables: 
    - group: Terraform-SP
    steps:
    - script: |
        set -e
        terraform init -input=false
        terraform apply -input=false -auto-approve
      name: 'RunTerraform'
      displayName: 'Run Terraform'
      env:
        ARM_CLIENT_ID: $(ARM_CLIENT_ID)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
        ARM_TENANT_ID: $(ARM_TENANT_ID)
        ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
        TF_VAR_imagebuild: $(tag)
